

         #voc1, #voc2, #voc3, #voc4, #voc5, #voc6, #voc7, #voc8, #voc9, #voc10, #voc11, #voc8-1, #voc9-1, #voc10-1, #voc11-1 {
         padding: 50px;
         display: none;
         }
         #image-l1 {
         width: 195px;
         height: 195px;
         }
.image-question{
   border: solid;
   margin-top: 15px;
   margin-bottom: 15px;
}
